<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul>
    <li>type: {{ type }}</li>
    <li>prod: {{ environment.production }}</li>
  </ul>


  <ion-button (click)="openBrowser()">Browser</ion-button>

  <ion-list>
    <ion-list-header>
      <ion-label>Plugins</ion-label>
    </ion-list-header>
    @for (plugin of plugins; track plugin) {
    <ion-item button [routerLink]="[plugin.url]">
      <ion-label>{{ plugin.name }}</ion-label>
    </ion-item>
    }
  </ion-list>
</ion-content>
